:root {
    --gold: #9D8F5C;
    --green: #005035;
    --black: #1d1d1f;
    --white: #f5f5f7;
    --light-gray: #d2d2d7;
    --dark-gray: #86868b;
    --body-color: #f8f8f8;
    --footer-color: #FFFFFF
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 300;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 300;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 400;
}

strong {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--black);
    font-weight: bold;
}


.accent-text {
    /* text-transform: uppercase; */
    color: var(--gold);
    font-weight: 700;
    margin: 0 0 40px 0;
    font-size: 28px;
    line-height: 30px;
}

.accent-background {
    background-color: var(--green);
    color: var(--gold);
    clear: both;
}

#login-form {
    padding: 10% 0;
}

.secondary-background-color {
    background-color: var(--body-color);
    height: fit-content;
}

.hero-background {
    height: 350px;
    background-image: url("./img/computer-1.jpg");
    /* background-image: url("./img/computer-1.jpg"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.separator {
    width: 100%;
    min-height: 200px;
}


.custom-circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    /* the magic */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    background: var(--green);
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto 40px;
}