{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Hero Section -->
<section class="hero-background">
  <div class="hero-overlay">
    <div class="container-md text-white pt-5">
      <br />
      <br />
      <h1>Approve Requests</h1>
      <h2>Teacher</h2>
    </div>
  </div>
</section>
<!-- user info section -->
<div class="container-fluid secondary-background-color">
  <div class="container pt-4 pb-4">
    <p>Welcome: {{ user.username }}</p>
    <p>Enroll Status: {{ user.role }}</p>
  </div>
</div>

<!-- Load computer objects -->
<div class="container mt-5">
  <div class="card p-4">
    <p class="text-danger">Note: Do not check the box if request is denied and must provide a brief explanation in
      the comments section.
    </p>
    <form action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <br>
      <input type="submit" value="Update" class="btn btn-primary">
    </form>
  </div>
</div>


{% endblock %}