{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Hero Section -->
{% if user.is_authenticated and user.role == 'Teacher' %}
<section class="hero-background">
    <div class="hero-overlay">
        <div class="container-md text-white pt-5">
            <br />
            <br />
            <h1>Requests</h1>
        </div>
    </div>
</section>
<div class="container-fluid secondary-background-color">
    <div class="container pt-4 pb-4">
        <p><strong>Welcome: </strong>{{ user.username }}</p>
        <p><strong>Enrollment Status: </strong>{{ user.role }}</p>
        <!-- <h3>Results {{results}}</h3> -->
    </div>
</div>
<div class="container pt-4 pb-4">
    <h1>History</h1>

    {% for filter in select_filter %}

    {% if filter.teacher_email == user.email %}
    <!-- Request info start -->
    <div class="card border-light-subtle mb-4">
        <div class="card-header"><strong>Request Number: {{ request.id }}</strong></div>
        <div class="card-body">
            <!-- Selecting the message color start -->
            {% if filter.order_status == 'Denied' %}
            <p class="card-title text-danger"><strong>Status: </strong>{{ filter.order_status }}</p>
            {% elif filter.order_status == 'Create' or filter.order_status == 'Pending' %}
            <p class="card-title text-warning"><strong>Status: </strong>{{ filter.order_status }}</p>
            {% elif filter.order_status == 'Returned' %}
            <p class="card-title text-primary"><strong>Status: </strong>{{ filter.order_status }}</p>
            {% else %}
            <p class="card-title text-success"><strong>Status: </strong>{{ filter.order_status }}</p>
            {% endif %}
            <!-- Selecting the message color end -->

            <p><strong>Request Number:</strong> {{ filter.id }}</p>
            <p class="card-title"><strong>Request Date:</strong> {{ filter.order_date }}</p>
            <p class="card-text"><strong>Student Email:</strong> {{ filter.student_email }}</p>
            <p class="card-text"><strong>Requested by:</strong> {{ filter.student_first_name }}
                {{filter.student_last_name}}
            </p>
            <p class="card-text"><strong>Teacher Email:</strong> {{ filter.teacher_email }}</p>
            <p class="card-text"><strong>Approved by:</strong> {{ filter.teacher_first_name }}
                {{filter.teacher_last_name}}
            </p>
            <p><strong>SN:</strong> {{ filter.computer_sn }}</p>
            <p><strong>Operating System:</strong> {{ filter.os }}</p>
            <p><strong>Classification:</strong> {{ filter.computer_classification }}</p>
            <a href="{% url 'approve_request' filter.id %}" class="btn btn-success">Approve Request</a>
        </div>
        <br>
    </div>
    {% endif %}
    <!-- End of the if statement -->

    {% endfor %}
    {% else%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Sorry!</strong> You don't have access to view this page.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <br>
        <br>
        <a href="{% url 'home' %}" role="button">Back to Home page.</a>
    </div>
    {% endif %}
    {% endblock %}
</div>